# TODO: Build toolchain using Nix
PATH_add toolchains/mipsel-unknown-elf/bin
PATH_add PSn00bSDK/tools/bin
export GCC_VERSION=11.1.0
export PSN00BSDK_TC="$PWD"/toolchains/mipsel-unknown-elf
eval "$(lorri direnv)"
